body {
    margin: 0;
    background: white;
    font-family:Arial, Helvetica, sans-serif
}
header {
    color: lightyellow;
    background-color: #0f3b46;
    padding: 20px;
    text-align: center;
}

h1 {
    color: white;
    margin: 0;
}

h2{
    color: white;
    margin: 0;
    font-size:medium;
}
.nome{
    color: rgb(250, 250, 144);
    font-weight: bold;
}
.titulo{
    font-weight: bold;
    color: gold;
}
.li-ap{
    font-size: 1.3em;
    padding-left: 40px; 
}
.li-ap li{
    margin-bottom: 10px;
    font-weight: bold; 
}

a{
    color: black;
}

.eletrolise_foto{
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    max-width: 100%; 
    height: auto; 
}

.texto_inicial {
    text-align:left
}

.bem_vindo {
    font-size: 40px; 
}

.texto_processo {
    font-size: 20px;
}

a{

    display: inline-block; 
    text-decoration: none; 
    color: black;

    transition: transform 0.3s ease-in-out; 
}

a:hover {
    transform: scale(1.1);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000; 
    display: none; 
}

.modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9); 
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}


.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    max-width: 90%;
    max-height: 90%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.8);
    transition: all 0.4s ease-in-out;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%; 
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
    border-radius: 8px;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}


.close-btn {
    position: absolute;
    top: -30px; 
    right: 0px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.2s;
    z-index: 2000; 
}

.close-btn:hover {
    color: #ccc;
}

.modal.is-visible {
    display: block;
}

.modal.is-visible .modal-overlay {
    opacity: 1;
}

.modal.is-visible .modal-content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}